@import "./common/base.styl"
#app {
  .screen-wrapper {
    user-select: none;
    width: 3840px;
    height: 1080px;
    background: #02061a;
    .main {
      height: calc(100% - 96px);
    }
  }
}
