body {
  background: url("../images/login_bg.jpg") no-repeat center 0 fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
}
#app {
  height: 100%;
  min-width: 1200px;
  .logo {
    margin: 0 186px;
    padding-top: 70px;
  }
  .form-box {
    position: fixed;
    top: 30%;
    right: 160px;
    width: 370px;
    h1 {
      position: relative;
      display: inline-block;
      font-size: 28px;
      color: #f8f7fa;
      text-align: left;
      font-weight: 500;
      span {
        position: absolute;
        top: 0;
        right: 0;
        background: #003a9b;
        font-size: 14px;
        line-height: 24px;
        width: 36px;
        border-radius: 24px;
        margin-top: -15px;
        margin-right: -40px;
        text-align: center
      }
    }
  }
  .footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 15px;
    background: #223271
    p {
      text-align: center;
      color: #ccffff;
      font-size: 12px;
    }
  }
}

.el-form-item__label {
  display: none;
}
.el-input-group__append {
  padding: 0;
  > span {
    display: block;
    width: 80px;
    height: 38px;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
    }
  }
}

