// 变量样式
// 颜色定义规范
$color-background = #ffffff

$color-gray = gray
$color-gray-d = #bbbbbb
$color-gray-dd = #f2f2f2
$color-gray-title = #dddddd
$popup-mask-bgc = #000
$dialog-bgc = rgba(0, 0, 0, 0.3)
$popup-mask-opacity = .2

$color-theme = #3697ff
$color-theme-d = rgba(255, 205, 49, 0.5)
$color-theme-icon = #ff882b

$color-text-black = #1d1d1d
$color-text-white = #fff

$color-row-line = rgba(0, 0, 0, 0.7)
$color-col-line = rgba(0, 0, 0, 0.7)

$c-primary = #007bff
$c-secondary = #868e96
$c-success = #28a745
$c-info = #17a2b8
$c-warning = #ffc107
$c-danger = #dc3545
$c-dark = #343a40
$c-light = #f8f9fa


//字体定义规范
$font-size-small-s = 10px
$font-size-small = 12px
$font-size-medium = 14px
$font-size-medium-x = 16px
$font-size-large = 18px
$font-size-large-x = 22px
