// 变量样式
// 颜色定义规范
$color-background = #ffffff
$color-background-d = rgba(0, 0, 0, 0.2)
$color-theme = #3697ff
$color-theme-d = rgba(54, 151, 255, 0.7)
$color-theme-dd = rgba(54, 151, 255, 0.3)
$color-sub-theme = #d93f30
$color-text = #2f2f2f
$color-text-w = white

$color-gray = gray
$color-gray-l = #b9b9b9
$color-gray-ll = #e6e6e6
$color-gray-line = rgba(230, 230, 230, 0.31)
$color-white = white
$color-white-d = rgba(255, 255, 255, 0.7)
$color-white-dd = rgba(255, 255, 255, 0.5)
$color-d = rgba(0, 0, 0, 0)

//字体定义规范
$font-size10 = 10px
$font-size12 = 12px
$font-size14 = 14px
$font-size16 = 16px
$font-size18 = 18px
$font-size20 = 20px
$font-size22 = 22px
